@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: black;
  --background-start: #f1f5f8;
  --background-end: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
}
